# Ignore virtual environments
venv/
*/venv/
env/
*/env/

# Ignore python cache
__pycache__/
*/__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore environment variables
.env

# Ignore other projects
NFL TD Scorers/

# Ignore specific files
getOdds.py
'First TD - 2025 (1).csv'